# builds & packages
node_modules
.nuxt
.idea
.output

# VSC
.git
.gitignore

# Doku
*.md
LICENSE

# Secrets / lokale Env-Dateien (nie ins Image!)
.env
.env.*
!.env.example

# Configs
.prettierrc
.infisical.json

# Windows-Artefakt
nul

