# Karaoke App
PORT=3000
NODE_ENV=development
DEFAULT_LANGUAGE=en-US
SONGLIST_PATH=./songlist.json

# Ultrastar Queing
KARAOKE_QUERY_USE_QUEUE=true
KARAOKE_QUEUE_DEFAULT_USERNAME=Unknown
ULTRASTAR_API_BASE=http://192.168.0.1:6789
ULTRASTAR_CLIENT_ID=change_me

# Redis (required when KARAOKE_QUERY_USE_QUEUE=true)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=YourSuperSecurePassword123!
REDIS_DB=0

# Meilisearch
MEILI_HOST=http://localhost:7700
MEILI_MASTER_KEY='change_me_with_openssl rand -hex 32'
